header{
    color: blue;
}

/* nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(45, 195, 225);
    height: 80px;
}

nav ul {
    display: flex;
}

nav ul li {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    list-style-type: none;
    color: white;

}

nav ul li a {
    color: white;
} */