<div *ngIf="asideAlbum" class="asideAlbum-detail">
    <img [src]="asideAlbum.url" [alt]="asideAlbum.title" />
    <h2>{{ asideAlbum.title }}</h2>
    <p>Name: {{ asideAlbum.name }}</p>
    <button>Play</button>
    <h3>List of songs</h3>
    <ul>
      <li *ngFor="let song of asideAlbum.tags">{{ song }}</li>
    </ul>
    <div class="album-info">
      <h3>{{ asideAlbum.status }}</h3>
      <p>{{ asideAlbum.description }}</p>
      <div class="tags">
        <span *ngFor="let tag of asideAlbum.tags" class="tag">{{ tag }}</span>
      </div>
      <div class="album-meta">
        <span>Duration: {{ asideAlbum.duration }} sec</span>
        <span class="likes" *ngIf="asideAlbum.like">{{ asideAlbum.like }}</span>
      </div>
    </div>
  </div>

  <!-- <p>{{asideAlbum| json}}</p> -->
